<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CredentialStoreClass" value="CredStore, CredentialStoreNamespace.WebConfigCredentialStore"/>
	</appSettings>
	<connectionStrings>
		<add name="MyLoginDb" connectionString="data source=(local)\SQLEXPRESS;Integrated Security=SSPI;AttachDbFileName=|DataDirectory|CredStore.mdf;User Instance=true"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Forms">
			<forms name="MyCookieName" loginUrl="DbLogin.aspx" timeout="2">
				<credentials passwordFormat="SHA1">
					<user name="admin" password="D5E1D25B41F180BF4EDC1D2830A31FF7471551DD"/>
					<user name="mario" password="C4EF609C4997515F677E93349D00CF5FE28ADF1A"/>
					<user name="matthew" password="3C4F8EA4B8B21F5729363C836CC0DDFC21EA2641"/>
				</credentials>
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		
</system.web>
	
</configuration>
