<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add connectionString="data source=(local)\SQLEXPRESS;Integrated Security=SSPI;initial catalog=aspnetdb" name="MembershipConn"/>
  </connectionStrings>
  
  <system.web>
		<authentication mode="Forms">
			<forms cookieless="UseCookies" loginUrl="login.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<membership defaultProvider="TestMembership">
			<providers>
				<add name="TestMembership" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MembershipConn" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="MyMembership" requiresUniqueEmail="false" passwordFormat="Hashed"/>
			</providers>
		</membership>
		<compilation targetFramework="4.0" debug="true" />
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication"/>
			<add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" preCondition=""/>
		</modules>
	</system.webServer>

</configuration>
