<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--
  <connectionStrings>
    <add name="NorthwindConnectionString"
      connectionString="Data Source=WIN-57VN3E98578;Initial Catalog=Northwind;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  -->

  <!--
  <connectionStrings>
    <add name="Connection2"
      connectionString="Data Source=MyServer;Initial Catalog=MyDB;Integrated Security=True"
      xdt:Transform="Insert"/>
  </connectionStrings>
  -->

  <!--
  <system.web xdt:Transform="Replace">
    <customErrors defaultRedirect="GenericError.htm"
      mode="RemoteOnly">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
  </system.web>
  -->

  <!--
  <connectionStrings xdt:Transform="Remove"/>
  -->

  <!--
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug,targetFramework)"/>
  </system.web>
  -->
  
  

</configuration>