<?xml version="1.0"?>

<configuration>
	<appSettings/>
	<connectionStrings>
		<!-- Uncomment this if you're not using SQL Server Express. -->
		<!--<add name="SqlServices" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=aspnetdb;"/>-->
		<add name="Northwind" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=Northwind;"/>
	</connectionStrings>
	<system.web>
		<authentication mode="Windows"/>
		<authorization>
			<deny users="?"/>
		</authorization>
		<profile>
			<providers>
				<!-- Uses SQL Server Express by default. If you're not using SQL Server Express,
          change LocalSqlServer to SqlServices and uncomment the corresponding connection string. -->
				<add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="LocalSqlServer" applicationName="TestApplicationForms"/>
			</providers>
			<properties>
				<add name="FirstName" type="String" serializeAs="Binary"/>
				<add name="LastName" type="String" serializeAs="Xml"/>
				<add name="DateOfBirth" type="DateTime" serializeAs="String"/>
				<add name="Address" type="Address"/>
				<add name="Cart" type="ShoppingCart" serializeAs="Binary"/>
			</properties>
		</profile>
		
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		
		</system.web>

</configuration>
