<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authentication mode="Forms">
            <forms cookieless="UseCookies" loginUrl="dblogin.aspx" />
        </authentication>
        <authorization>
            <deny users="?" />
        </authorization>
    </system.web>
    <system.webServer>
        <modules>
            <clear />
            <add name="HttpCacheModule" type="" preCondition="" />
            <add name="DefaultDocumentModule" type="" preCondition="" />
            <add name="DirectoryListingModule" type="" preCondition="" />
            <add name="ProtocolSupportModule" type="" preCondition="" />
            <add name="HttpRedirectionModule" type="" preCondition="" />
            <add name="StaticFileModule" type="" preCondition="" />
            <add name="AnonymousAuthenticationModule" type="" preCondition="" />
            <add name="CertificateMappingAuthenticationModule" type="" preCondition="" />
            <add name="UrlAuthorizationModule" type="" preCondition="" />
            <add name="IsapiFilterModule" type="" preCondition="" />
            <add name="BasicAuthenticationModule" type="" preCondition="" />
            <add name="WindowsAuthenticationModule" type="" preCondition="" />
            <add name="DigestAuthenticationModule" type="" preCondition="" />
            <add name="IISCertificateMappingAuthenticationModule" type="" preCondition="" />
            <add name="IpRestrictionModule" type="" preCondition="" />
            <add name="RequestFilteringModule" type="" preCondition="" />
            <add name="CustomLoggingModule" type="" preCondition="" />
            <add name="CustomErrorModule" type="" preCondition="" />
            <add name="IsapiModule" type="" preCondition="" />
            <add name="HttpLoggingModule" type="" preCondition="" />
            <add name="FailedRequestsTracingModule" type="" preCondition="" />
            <add name="RequestMonitorModule" type="" preCondition="" />
            <add name="ConfigurationValidationModule" type="" preCondition="" />
            <add name="OutputCache" type="System.Web.Caching.OutputCacheModule" preCondition="managedHandler" />
            <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition="managedHandler" />
            <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule" preCondition="managedHandler" />
            <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" preCondition="" />
            <add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule" preCondition="managedHandler" />
            <add name="RoleManager" type="System.Web.Security.RoleManagerModule" preCondition="managedHandler" />
            <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" preCondition="managedHandler" />
            <add name="FileAuthorization" type="System.Web.Security.FileAuthorizationModule" preCondition="managedHandler" />
            <add name="AnonymousIdentification" type="System.Web.Security.AnonymousIdentificationModule" preCondition="managedHandler" />
            <add name="Profile" type="System.Web.Profile.ProfileModule" preCondition="managedHandler" />
            <add name="UrlMappingsModule" type="System.Web.UrlMappingsModule" preCondition="managedHandler" />
            <add name="ServiceModel" type="System.ServiceModel.Activation.HttpModule, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
        </modules>
    </system.webServer>
    <connectionStrings>
        <add connectionString="data source=(local)\SQLEXPRESS;Integrated Security=SSPI;AttachDbFileName=|DataDirectory|CredStore.mdf;User Instance=true" name="MyLoginDb" />
    </connectionStrings>
</configuration>
