<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="Northwind" connectionString="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=SSPI"/>
		<add name="Pubs" connectionString="Data Source=localhost;Initial Catalog=Pubs;Integrated Security=SSPI"/>
	</connectionStrings>
  <system.web>
    <!-- <httpRuntime requestValidationMode="2.0" /> -->
    <!-- <httpRuntime requestValidationType="CustomRequestValidator" /> -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
</configuration>
