<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="orderService" type="OrderService"/>
	</configSections>
	<appSettings>
  <add key="websiteName" value="My New Website" />
  <add key="welcomeMessage" value="Welcome, again." />
 </appSettings>
	<connectionStrings/>
	<!--<orderService available="true" pollTimeout="00:01:00"
               location="tcp://OrderComputer:8010/OrderService"/>-->
	<orderService available="true" pollTimeout="00:01:00">
		<location computer="OrderComputer" port="8010" endpoint="OrderService"/>
	</orderService>
  
	<system.web>    
		<compilation debug="true" targetFramework="4.0">
		</compilation>

		<httpHandlers>
			<add verb="*" path="source.simple" type="SourceHandler"/>
			<add verb="*" path="test.simple" type="SimpleHandler"/>
			<add verb="*" path="*.gif" type="ImageGuardHandler"/>
		</httpHandlers>
		<httpModules>
		<!--		<add name="LogUserModule"
           type="LogUserModule" />   -->
		</httpModules>
  </system.web>

  <system.webServer>
    <!-- Configuration sections for IIS 7 when running in integrated mode. -->
    <handlers>
      <add name="SourceHandler" verb="*" path="source.simple" type="SourceHandler"/>
      <add name="SimpleHandler" verb="*" path="test.simple" type="SimpleHandler"/>
      <add name="ImageGuardHandler" verb="*" path="*.gif" type="ImageGuardHandler"/>
    </handlers>
    <modules>
      <!--	<add name="LogUserModule"
           type="LogUserModule" />  -->
    </modules>
  </system.webServer>

</configuration>
