<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="data source=(local)\SQLEXPRESS;Integrated Security=SSPI;initial catalog=aspnetdb"/>
		<add name="MyMembershipConnString" connectionString="data source=(local)\SQLEXPRESS;Integrated Security=SSPI;initial catalog=aspnetdb" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" port="25" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="login.aspx"/>
		</authentication>
		<profile>
			<properties>
				<add name="Firstname"/>
				<add name="Lastname"/>
				<add name="Age" type="System.Int16"/>
			</properties>
		</profile>
		<!-- You need to create a database using
		     aspnet_regsql.exe and then configure the connectionString MyMembershipConnString
			 appropriately before using this custom membership provider -->
		<membership><!--defaultProvider="MyMembershipProvider"-->
			<providers>
				<add name="MyMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MyMembershipConnString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="MyMembership" requiresUniqueEmail="true" passwordFormat="Hashed"/>
			</providers>
		</membership>
		<roleManager>
			<providers>
			</providers>
		</roleManager>
		</system.web>
</configuration>
