<?xml version="1.0"?>

<configuration>
	<appSettings/>
	<connectionStrings/>
  
  <system.web>
    <trace enabled="true" pageOutput="false" requestLimit="10"/>

    <compilation debug="true" targetFramework="4.0">
    </compilation>

    <httpModules>
      <!-- Uncomment to use the Web Development Helper. -->
      <!--
      <add name="DevInfo" type="nStuff.WebDevHelper.Server.DevInfoModule, nStuff.WebDevHelper.Server, Version=0.5.0.0, Culture=neutral, PublicKeyToken=8fc0e3af5abcb6c4" />
      -->
    </httpModules>
  </system.web>	
</configuration>
