<?xml version="1.0"?>

<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="Northwind" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=SSPI"/>
		<add name="Pubs" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Pubs;Integrated Security=SSPI"/>
	</connectionStrings>
	<system.web>
	
		<compilation debug="true"  targetFramework="4.0">
			
		</compilation>
	
		<httpHandlers>
			<add verb="GET" path="ImageFromDB.ashx" type="ImageFromDB"/>
		</httpHandlers>
	
	</system.web>
	
</configuration>
