<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings/>
	<connectionStrings>
		<!-- Uncomment this if you're not using SQL Server Express. -->
		<!--<add name="SqlServices" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=aspnetdb;"/>-->
	</connectionStrings>
	<system.web>
		<anonymousIdentification enabled="true"/>
		<authentication mode="Forms">
			<forms loginUrl="CreateUser.aspx"></forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<profile defaultProvider="SqlProvider">
			<providers>
				<clear/>
				<!-- Uses SQL Server Express by default. If you're not using SQL Server Express,
          change LocalSqlServer to SqlServices and uncomment the corresponding connection string. -->
				<add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="LocalSqlServer" applicationName="TestApplication"/>
			</providers>
			<properties>
				<add name="Address" type="Address" allowAnonymous="true" serializeAs="Binary"/>
			</properties>
		</profile>
		
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		</system.web>

</configuration>
