<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<authorization>
			<deny users="?"/>
		</authorization>
		<roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="WindowsRoles">
			<providers>
				<add name="WindowsRoles" type="System.Web.Security.WindowsTokenRoleProvider"/>
			</providers>
		</roleManager>
	</system.web>	
</configuration>
